* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--poppins);
}

:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #d9d9d9;
    --principal: #7f3d9e;
    --secundaria: #6d00d9;
    --neon: #beff1b;
    --poppins: 'Poppins', sans-serif;
    --league: 'League Gothic', sans-serif;
    --content-width: 70vw;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        width: clamp(120px, 15vw, 220px);
    }

    & nav {
        margin-right: 12vw;

        & ul {
            display: flex;
            gap: clamp(15px, 2vw, 40px);
        }

        & li {
            font-size: clamp(0.8rem, 1vw, 1rem);
            white-space: nowrap;
            cursor: pointer;
        }
    }
}

section {
    background-image: radial-gradient(var(--principal), var(--secundaria));
    height: 100vh;
    position: relative;
    overflow: hidden;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: clamp(300px, 60vw, 900px);

                & img {
                    width: clamp(320px, 58vw, 900px);
                    transform: rotate(-30deg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: var(--black);
                    width: 100%;
                    height: 100px;
                    top: 150%;
                    left: 50px;
                    border: 50%;
                    filter: blur(50px);
                }

            }

            & .content {
                position: absolute;
                right: 5%;
                width: min(500px, 45vw);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: clamp(10px, 2vw, 20px);

                & .car-info {
                    font-weight: bold;
                }

                & h2 {
                    font-size: clamp(3rem, 8vw, 8rem);
                    line-height: 0.9em;
                    font-family: var(--league);
                }

                & .description {
                    color: var(--grey);
                    font-size: clamp(0.75rem, 1vw, 1rem);
                    text-align: right;
                    max-width: min(400px, 90%);
                }

                & .text-info {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid var(--principal);
                    background-color: var(--neon);
                    color: var(--black);
                    cursor: pointer;
                    font-weight: bold;
                    font-family: var(--league);
                }
            }
        }

    }

    .arrows {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: var(--neon);
            }
        }
    }

    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: var(--league);
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: var(--neon);
                border-radius: 5px;
                transition: 0.5s;
            }

            & .active {
                background-color: var(--white);
            }
        }
    }
}

section {

    & .list {
        --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .car-info,
                h2,
                .description,
                .text-info {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .text-info {
                    transition-delay: 0.9s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .car-img {
                & img {
                    transform: rotate(-20deg);
                }
            }

            & .content {

                & .car-info,
                h2,
                .description,
                .text-info {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}